* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #eee;
}
  
nav {
	width:100%;
	height: 120px;
	background-color: #fff;
	
}
  
ul { 
	margin-left: 120px;
}

ul li {
	list-style: none;
	display: inline-block;
	line-height: 100px;
	
}

ul li a {
	text-decoration: none;
	font-size: 24px;
	font-family: Britannic Bold;
	display: block;
	padding: 0 20px;
	color: #1e1e1e;
} 

nav ul li a {
  position:relative;
  z-index: 1;
}

nav ul li a:hover {
  color: #91640F;
}

nav ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 50%;
}


.section {
  padding: 50px;
  text-align: center;
  background-color: background-color: #f39f86;
background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
  color: white;
}

.column {
  float: left;
  width: 280px;
  margin-bottom: 16px;
  padding: 0 8px;
}

.part {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

#bread {
	height: 190px;
	width: 225px;
}

#location {
	height: 190px;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
