* {
   margin: 0;
   padding: 0;
}
body{
    background-image: url(img/back.jpg);
    background-size:300px 100px;
    background-repeat: no-repeat;
    /*width: 300px;*/


}
 .header{
    /*grid-area: header;*/
    position:fixed;
    padding:0px;
/*    margin-bottom:5px;
*/    width:100%;
    height:100px;
/*    z-index:999;
*/    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
/*    display: flex;
*/    justify-content: space-around;
     align-items: center;


    }
    nav:hover{
        color: grey;
    }

    .nav {
        position: relative;
        left: 16%;
        bottom: 50px;
        margin-right: 10px;
        text-transform: uppercase;
        padding:2px;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        font-family: britannic;
        border-top-left-radius: all;



    }

 .h1 {
     font-family: Ravie;
     font-size:36;
     padding-right:150px;
     text-align: center-left;
 }

/*.box-logo {

    height: 5px
    width:0px;
    padding-right: 700px;
}*/

.logo-image {
/*    width: 10%; 
*/    height:100%;
    display: ;

}

 ul{
     justify-content: flex-end;
     margin: 0px;
     display: flex;
     list-style: none;
     overflow:hidden;
}
}
 li {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}


/* header, h1, h2, h3, div, article, section footer {
     border: 2px solid red;
}
 */
/* header styling */
 .main-header {
     height:600px;
     background: linear-gradient(0deg, #fff, transparent 55%), linear-gradient(rgba(0, 0, 0, .5) 100%, transparent), url('img/header-pic.jpg') bottom center/ cover;
     color: white;
     text-align: center;
     padding: 15px;
     margin-bottom: 5px;

     /*Location*/
     div {
  background-image: url('images.jpg');
  background-size: cover;
}

}
 h1{
     font-size: 6.25em;
    /* 100/16 */
     margin: 70px 0 170px;
}
 .header-tag {
     text-transform: capitalize;
     font-size: 2.5em;
    /* 40/16 */
     padding: 50px 0;
     border-top: 3px solid #b8b8b8;
    /* background-color: rgba(0, 0, 0, .3);
     */
    /* box-shadow: 0 20px 20px;
     */
     text-shadow: 7px 7px 9px #000;
    /* overflow:auto;
     */
}
/************** First Section ****************/
 .front-menu header {
     text-align: center;
     font-size: 1.6em;
     letter-spacing: 14px;
     margin: 30px auto 35px;
}
 .front-menu header span {
     border-top: 2px solid;
     margin-top: 5px;
}
 .menu-layout {
     padding-top: 50px;
     width: 90%;
     margin: auto;
     height:650px;
     border-top: 7px solid #858585;
     box-shadow: 0 0 40px #ab7254;
}
 .menu-layout article h4 {
     letter-spacing: 12px;
     font-weight: normal;
}
 .deal-left{
    /* left column in menu */
    /* border: 2px solid green;
     */
     width: 40%;
     height: 170px;
     float: left;
     margin: 2% 1% 0 7%;
     padding: 5px;
     text-align: center;
}
 .deal-right{
    /* left column in menu */
    /* border: 2px solid yellow;
     */
     width: 40%;
     height: 170px;
     float: right;
     margin: 2% 7% 0 1%;
     padding: 5px;
     text-align: center;
}
 .columns: after {
    /* float clearfix */
     Content: "";
     Display: block;
     Clear: both;
}
 .icon-img {
    /* deal icon image size */
     width: 15%;
}
 .deal-title {
     margin-top: 0;
     margin-bottom: 1px;
}
/****************Second Section*****************/
 .side-dish {
    /* side div settings & background */
     color: white;
     width: 100%;
     height: 650px;
     padding: 10px;
     margin: 100px auto;
     background: linear-gradient(#fff, transparent 57%), 
    /* linear-gradient(0deg, #fff, transparent 40%), */
     url('img/side-image.jpg') top 0% right 0% / cover;
}
 .side-layout {
     width: 50%;
    /* border: 2px solid red;
     */
     height: 60%;
     margin: 12% 0 0 45%;
     padding: 0px 0 0 0px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
}
 .side-right {
    /* side dishes individual box */
     color: white;
     text-align: center;
     text-transform: capitalize;
     width: 30%;
     height: 150px;
     padding: 5px;
    /* border: 1px solid green;
     */
     background-color: rgba(43, 43, 43, .7);
}
 .side-image {
     width: 30%;
     margin-top: 20px;
     height: 30%;
}
 .side-dish article h4 {
    /* side titles adjustments */
     margin-top: 10px;
}
/****************Third Section*****************/
 .customer-reminder {
     text-align: center;
     margin: 40px auto;
     font-size: 1.5625rem;
    /* 25/16 */
     line-height: 1.5;
}
 